h1{
    text-align: center;
    color: blue;
}
body {
    background-color: lightgrey;
    color: blue;
  }
  
  
  div {
    background-color:lightcoral;
    color: white;
  }
  
  h2 {
    text-align: left;
  }
  
  h3 {
    text-align: right;
  }  

  p.a {
    text-align-last: right;
  }
  
  p.b {
    text-align-last: center;
  }
  
  p.c {
    text-align-last: justify;
  }